# Preencha com os dados do seu projeto Sanity (sanity.io/manage)
SANITY_PROJECT_ID=
SANITY_DATASET=production
SANITY_API_VERSION=2024-01-01

# Só será necessário quando a venda de obras/prints for ativada
STRIPE_SECRET_KEY=
